.moviebox {
    overflow-x: auto;
    width: 100%;

    .movielist {
        display: inline-flex;
        justify-content: space-between;
    }
}

.moviecard {
    background-color: 	#0d0d0d;
    padding-left: 0.25%;
    padding-right: 0.25%;
}

.moviebox::-webkit-scrollbar {
    display: none;
}

.titlediv {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 2%;

    div {
        color: white;
    }
    
}


#titleline {
    width: 100%;
    color: grey;
}